!.gitignore


*.pyc
*.o
*.so
*.lib
*.dll
*.jar
*.zip
*.csv
*.tar*
*.log
*.xml
*.jpg
*.mp4
*.png

neu-dataset/*
new_data/*
*/output/*
.vscode/*
*.directory/*
*.idea/*
preproc/ds2018*
preproc/tg2018*
tensorflow*
*model*
*.pkl

*demo*
